body {
    background-color: rgb(200, 200, 245);
}

p {
    color: brown;
}

h3 {
    font-size: 50px;
}
h2 {
    color:chartreuse; 
}
.container {
    display: flex;
    height: 600px;
    width: 600px;
    background-color: cornflowerblue;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px; 
}

.one {
   
    background-color: darkorange; 
    padding: 5px;
    margin: 5px;  
}